[Unit]
Description=csymapp-api

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/csymapp-api
ExecStart=/var/www/html/csymapp-api/start.sh
SyslogIdentifier=csymapp-api
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target